In [159]:
# Import Libraries and Dependencies
import pandas as pd

### 1. Combine and Clean the Data
#### Import CSVs

In [160]:
# Read the CSV files into DataFrames.
df_2020 = pd.read_csv('Resources/athletic_sales_2020.csv')

In [161]:
# Display the 2020 sales DataFrame
df = pd.read_csv('Resources/athletic_sales_2020.csv')
df_2021 = pd.read_csv('Resources/athletic_sales_2021.csv')

In [162]:
# Display the 2021 sales DataFrame
df_2021

,retailer,retailer_id,invoice_date,region,state,city,product,price_per_unit,units_sold,total_sales,operating_profit,sales_method
0,West Gear,1128299,1/1/21,West,California,San Francisco,Men's Athletic Footwear,65,750,487500,121875.00,Outlet
1,West Gear,1128299,1/1/21,West,California,San Francisco,Men's Athletic Footwear,51,233,11883,3208.41,Outlet
2,Kohl's,1189833,1/1/21,Midwest,Montana,Billings,Men's Apparel,50,275,137500,82500.00,Outlet
3,Kohl's,1189833,1/1/21,Midwest,Montana,Billings,Men's Apparel,47,77,3619,2714.25,Online
4,West Gear,1128299,1/1/21,West,California,San Francisco,Men's Athletic Footwear,64,225,14400,5184.00,Online
...,...,...,...,...,...,...,...,...,...,...,...,...
8341,Foot Locker,1185732,12/31/21,Northeast,Pennsylvania,Philadelphia,Men's Apparel,63,47,2961,1362.06,Online
8342,Foot Locker,1185732,12/31/21,Northeast,Pennsylvania,Philadelphia,Men's Apparel,46,56,2576,1004.64,Outlet
8343,Amazon,1185732,12/31/21,Northeast,Maine,Portland,Men's Apparel,52,36,1872,692.64,Online
8344,Amazon,1185732,12/31/21,Northeast,Maine,Portland,Men's Apparel,55,125,68750,17187.50,Outlet
8345,Foot Locker,1185732,12/31/21,Northeast,Pennsylvania,Philadelphia,Men's Apparel,70,175,122500,42875.00,Outlet

#### Check the data types of each DataFrame

In [163]:
# Check the 2020 sales data types.
df_2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1297 entries, 0 to 1296
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   retailer          1297 non-null   object
 1   retailer_id       1297 non-null   int64
 2   invoice_date      1297 non-null   object
 3   region            1297 non-null   object
 4   state             1297 non-null   object
 5   city              1297 non-null   object
 6   product           1297 non-null   object
 7   price_per_unit    1297 non-null   int64
 8   units_sold        1297 non-null   int64
 9   total_sales       1297 non-null   int64
 10  operating_profit  1297 non-null   float64
 11  sales_method      1297 non-null   object
dtypes: float64(1), int64(4), object(7)
memory usage: 121.7+ KB

In [164]:
# Check the 2021 sales data types.
df_2021.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8346 entries, 0 to 8345
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   retailer          8346 non-null   object
 1   retailer_id       8346 non-null   int64
 2   invoice_date      8346 non-null   object
 3   region            8346 non-null   object
 4   state             8346 non-null   object
 5   city              8346 non-null   object
 6   product           8346 non-null   object
 7   price_per_unit    8346 non-null   int64
 8   units_sold        8346 non-null   int64
 9   total_sales       8346 non-null   int64
 10  operating_profit  8346 non-null   float64
 11  sales_method      8346 non-null   object
dtypes: float64(1), int64(4), object(7)
memory usage: 782.6+ KB

#### Combine the sales data by rows.

In [165]:
# Combine the 2020 and 2021 sales DataFrames on the rows and reset the index.
df_combined = pd.concat([df_2020, df_2021], ignore_index=True)
df_combined

,retailer,retailer_id,invoice_date,region,state,city,product,price_per_unit,units_sold,total_sales,operating_profit,sales_method
0,Foot Locker,1185732,1/1/20,Northeast,New York,New York,Men's Street Footwear,50,1200,600000,300000.00,In-store
1,Foot Locker,1185732,1/1/20,Northeast,Pennsylvania,Philadelphia,Women's Apparel,68,83,5644,2426.92,Online
2,Foot Locker,1185732,1/1/20,Northeast,Pennsylvania,Philadelphia,Women's Apparel,75,275,206250,61875.00,Outlet
3,Foot Locker,1185732,1/1/20,Northeast,New York,New York,Men's Street Footwear,34,384,13056,6789.12,Outlet
4,Foot Locker,1185732,1/1/20,Northeast,Pennsylvania,Philadelphia,Women's Apparel,53,83,4399,1407.68,Outlet
...,...,...,...,...,...,...,...,...,...,...,...,...
9638,Foot Locker,1185732,12/31/21,Northeast,Pennsylvania,Philadelphia,Men's Apparel,63,47,2961,1362.06,Online
9639,Foot Locker,1185732,12/31/21,Northeast,Pennsylvania,Philadelphia,Men's Apparel,46,56,2576,1004.64,Outlet
9640,Amazon,1185732,12/31/21,Northeast,Maine,Portland,Men's Apparel,52,36,1872,692.64,Online
9641,Amazon,1185732,12/31/21,Northeast,Maine,Portland,Men's Apparel,55,125,68750,17187.50,Outlet
9642,Foot Locker,1185732,12/31/21,Northeast,Pennsylvania,Philadelphia,Men's Apparel,70,175,122500,42875.00,Outlet

In [166]:
print(df_combined.iloc[9642])

retailer              Foot Locker
retailer_id               1185732
invoice_date             12/31/21
region                  Northeast
state                Pennsylvania
city                 Philadelphia
product             Men's Apparel
price_per_unit                 70
units_sold                    175
total_sales                122500
operating_profit          42875.0
sales_method               Outlet
Name: 9642, dtype: object

In [167]:
# Check if any values are null.
df_combined.isnull().sum()

retailer            0
retailer_id         0
invoice_date        0
region              0
state               0
city                0
product             0
price_per_unit      0
units_sold          0
total_sales         0
operating_profit    0
sales_method        0
dtype: int64

In [168]:
#AGK Extra: find the percentage that is null
df_combined.isnull().mean() * 100

retailer            0.0
retailer_id         0.0
invoice_date        0.0
region              0.0
state               0.0
city                0.0
product             0.0
price_per_unit      0.0
units_sold          0.0
total_sales         0.0
operating_profit    0.0
sales_method        0.0
dtype: float64

In [169]:
# Check the data type of each column
df_combined.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9643 entries, 0 to 9642
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   retailer          9643 non-null   object
 1   retailer_id       9643 non-null   int64
 2   invoice_date      9643 non-null   object
 3   region            9643 non-null   object
 4   state             9643 non-null   object
 5   city              9643 non-null   object
 6   product           9643 non-null   object
 7   price_per_unit    9643 non-null   int64
 8   units_sold        9643 non-null   int64
 9   total_sales       9643 non-null   int64
 10  operating_profit  9643 non-null   float64
 11  sales_method      9643 non-null   object
dtypes: float64(1), int64(4), object(7)
memory usage: 904.2+ KB

In [170]:
# Convert the "invoice_date" to a datetime datatype
print(df_combined.iloc[235])
df_combined['invoice_date_fmt'] = pd.to_datetime(df['invoice_date'], format='mixed').dt.date
df_combined.iloc[235]

retailer                        West Gear
retailer_id                       1128299
invoice_date                      2/19/20
region                               West
state                              Nevada
city                            Las Vegas
product             Men's Street Footwear
price_per_unit                         41
units_sold                            186
total_sales                          7626
operating_profit                  2897.88
sales_method                       Outlet
Name: 235, dtype: object

retailer                        West Gear
retailer_id                       1128299
invoice_date                      2/19/20
region                               West
state                              Nevada
city                            Las Vegas
product             Men's Street Footwear
price_per_unit                         41
units_sold                            186
total_sales                          7626
operating_profit                  2897.88
sales_method                       Outlet
invoice_date_fmt               2020-02-19
Name: 235, dtype: object

In [171]:
# Confirm that the "invoice_date" data type has been changed.
df_combined.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9643 entries, 0 to 9642
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   retailer          9643 non-null   object
 1   retailer_id       9643 non-null   int64
 2   invoice_date      9643 non-null   object
 3   region            9643 non-null   object
 4   state             9643 non-null   object
 5   city              9643 non-null   object
 6   product           9643 non-null   object
 7   price_per_unit    9643 non-null   int64
 8   units_sold        9643 non-null   int64
 9   total_sales       9643 non-null   int64
 10  operating_profit  9643 non-null   float64
 11  sales_method      9643 non-null   object
 12  invoice_date_fmt  1297 non-null   object
dtypes: float64(1), int64(4), object(8)
memory usage: 979.5+ KB

### 2. Determine which Region Sold the Most Products

#### Using `groupby`

In [172]:
# Show the number products sold for region, state, and city.
# Rename the sum to "Total_Products_Sold".

product_count = df_combined.groupby(['region', 'state', 'city'])['units_sold'].sum().reset_index(name='Total_Products_Sold')
product_count = product_count.sort_values(by='Total_Products_Sold', ascending=False)
print(product_count.head(5))
# # Show the top 5 results.

       region       state           city  Total_Products_Sold
21  Northeast    New York       New York               111954
33      South       Texas        Houston                90322
44       West  California  San Francisco                85478
43       West  California    Los Angeles                76384
34  Southeast     Florida          Miami                73135

#### Using `pivot_table`

In [176]:
# Show the number products sold for region, state, and city.
pivot = df_combined.pivot_table(index=['region', 'state', 'city'], values='units_sold', aggfunc='sum')
pivot = pivot.reset_index()

# # Rename the "units_sold" column to "Total_Products_Sold"
pivot = pivot.rename(columns={'units_sold': 'Total_Products_Sold'})

# # Show the top 5 results.
pivot = pivot.sort_values(by='Total_Products_Sold', ascending=False).head(5)

print(pivot)

       region       state           city  Total_Products_Sold
21  Northeast    New York       New York               111954
33      South       Texas        Houston                90322
44       West  California  San Francisco                85478
43       West  California    Los Angeles                76384
34  Southeast     Florida          Miami                73135

### 3. Determine which Region had the Most Sales

#### Using `groupby`

In [174]:
# Show the total sales for the products sold for each region, state, and city.
# Rename the "total_sales" column to "Total Sales"
sales = df_combined.groupby(['region', 'state', 'city'])['total_sales'].sum().reset_index(name='Total Sales')
sales = sales.sort_values(by='Total Sales', ascending=False)


# Show the top 5 results.
print(sales.head(5))

       region           state           city  Total Sales
21  Northeast        New York       New York     39801235
44       West      California  San Francisco     33973228
34  Southeast         Florida          Miami     31600863
39  Southeast  South Carolina     Charleston     29285637
35  Southeast         Florida        Orlando     27682851

#### Using `pivot_table`

In [178]:
# Show the total sales for the products sold for each region, state, and city.
pivot = df_combined.pivot_table(index=['region', 'state', 'city'], values='total_sales', aggfunc='sum')
pivot = pivot.reset_index()


# Optional: Rename the "total_sales" column to "Total Sales"
pivot = pivot.rename(columns={'total_sales': 'Total Sales'})

# Show the top 5 results.
pivot = pivot.sort_values(by='Total Sales', ascending=False).head(5)
print(pivot)

       region           state           city  Total Sales
21  Northeast        New York       New York     39801235
44       West      California  San Francisco     33973228
34  Southeast         Florida          Miami     31600863
39  Southeast  South Carolina     Charleston     29285637
35  Southeast         Florida        Orlando     27682851

### 4. Determine which Retailer had the Most Sales

#### Using `groupby`

In [182]:
# Show the total sales for the products sold for each retailer, region, state, and city.
# Rename the "total_sales" column to "Total Sales"
# df_combined.info()
sales = df_combined.groupby(['retailer', 'region', 'state', 'city'])['total_sales'].sum().reset_index(name='Total Sales')
sales = sales.sort_values(by='Total Sales', ascending=False)

# Show the top 5 results.
print(sales.head(5))

        retailer     region           state           city  Total Sales
103    West Gear       West      California  San Francisco     32794405
50        Kohl's       West      California    Los Angeles     25127160
22   Foot Locker  Northeast        New York       New York     25008568
109    West Gear       West      Washington        Seattle     24862675
33   Foot Locker  Southeast  South Carolina     Charleston     24822280

#### Using `pivot_table`

In [183]:
# Show the total sales for the products sold for each retailer, region, state, and city.
pivot = df_combined.pivot_table(index=['retailer', 'region', 'state', 'city'], values='total_sales', aggfunc='sum')
pivot = pivot.reset_index()

# Optional: Rename the "total_sales" column to "Total Sales"
pivot = pivot.rename(columns={'total_sales': 'Total Sales'})

# Show the top 5 results.
pivot = pivot.sort_values(by='Total Sales', ascending=False).head(5)
print(pivot)

        retailer     region           state           city  Total Sales
103    West Gear       West      California  San Francisco     32794405
50        Kohl's       West      California    Los Angeles     25127160
22   Foot Locker  Northeast        New York       New York     25008568
109    West Gear       West      Washington        Seattle     24862675
33   Foot Locker  Southeast  South Carolina     Charleston     24822280

### 5. Determine which Retailer Sold the Most Women's Athletic Footwear

In [192]:
# Filter the sales data to get the women's athletic footwear sales data.
womans_footwear = df_combined[df_combined['product'] ==  "Women's Athletic Footwear" ]

print(womans_footwear.info())

<class 'pandas.core.frame.DataFrame'>
Index: 1604 entries, 21 to 9637
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   retailer          1604 non-null   object
 1   retailer_id       1604 non-null   int64
 2   invoice_date      1604 non-null   object
 3   region            1604 non-null   object
 4   state             1604 non-null   object
 5   city              1604 non-null   object
 6   product           1604 non-null   object
 7   price_per_unit    1604 non-null   int64
 8   units_sold        1604 non-null   int64
 9   total_sales       1604 non-null   int64
 10  operating_profit  1604 non-null   float64
 11  sales_method      1604 non-null   object
 12  invoice_date_fmt  214 non-null    object
dtypes: float64(1), int64(4), object(8)
memory usage: 175.4+ KB
None

#### Using `groupby`

In [193]:
# Show the total number of women's athletic footwear sold for each retailer, region, state, and city.
# Rename the "units_sold" column to "Womens_Footwear_Units_Sold"

sales = womans_footwear.groupby(['retailer', 'region', 'state', 'city'])['units_sold'].sum().reset_index(name='Womens_Footwear_Units_Sold')
sales = sales.sort_values(by='Womens_Footwear_Units_Sold', ascending=False)

# Show the top 5 results.
print(sales.head(5))

          retailer     region           state           city  \
101      West Gear       West      California  San Francisco
22     Foot Locker  Northeast        New York       New York
49          Kohl's       West      California    Los Angeles
33     Foot Locker  Southeast  South Carolina     Charleston
68   Sports Direct      South           Texas         Dallas

     Womens_Footwear_Units_Sold
101                       12107
22                        10996
49                        10826
33                         8814
68                         8790

#### Using `pivot_table`

In [194]:
# Show the total number of women's athletic footwear sold for each retailer, region, state, and city.

pivot = womans_footwear.pivot_table(index=['retailer', 'region', 'state', 'city'], values='units_sold', aggfunc='sum')
pivot = pivot.reset_index()

# Rename the "units_sold" column to "Womens_Footwear_Units_Sold"
pivot = pivot.rename(columns={'units_sold': 'Womens_Footwear_Units_Sold'})

# Show the top 5 results.
pivot = pivot.sort_values(by='Womens_Footwear_Units_Sold', ascending=False).head(5)
print(pivot)

          retailer     region           state           city  \
101      West Gear       West      California  San Francisco
22     Foot Locker  Northeast        New York       New York
49          Kohl's       West      California    Los Angeles
33     Foot Locker  Southeast  South Carolina     Charleston
68   Sports Direct      South           Texas         Dallas

     Womens_Footwear_Units_Sold
101                       12107
22                        10996
49                        10826
33                         8814
68                         8790

### 6. Determine the Day with the Most Women's Athletic Footwear Sales

In [ ]:
# Create a pivot table with the 'invoice_date' column is the index, and the "total_sales" as the values.


# Optional: Rename the "total_sales" column to "Total Sales"


# Show the table.

In [ ]:
# Resample the pivot table into daily bins, and get the total sales for each day.


# Sort the resampled pivot table in descending order on "Total Sales".

### 7.  Determine the Week with the Most Women's Athletic Footwear Sales

In [ ]:
# Resample the pivot table into weekly bins, and get the total sales for each week.


# Sort the resampled pivot table in descending order on "Total Sales".